name: Bandit 2 - Security check
on: [push, pull_request]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: mdegis/bandit-action@v1.0
      with: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        path: "."
          level: low
          exit_zero: true
