name: Bandit - Security check
on: [push, pull_request]

jobs:
  check_with_bandit:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v3
      - uses: mdegis/bandit-action@v1.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          exit_zero: true
