name: flake8 - Linter check 
on: [push, pull_request]

jobs:
  check_using_flake8:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Installing flake8
        run: pip install flake8
      - name: Installing flake8 extension 
        run: pip install flake8-docstrings flake8-simplify flake8-unused-arguments flake8-quotes
      - name: Code linting
        uses: reviewdog/action-flake8@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
