name: Pyre - Secuity type-safe check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pyre:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v3
      - name: Run Pyre Action
        uses: facebook/pyre-action@v0.0.1
        with:
          repo-directory: './'
          requirements-path: 'requirements.txt'
